body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cuadrado-1 {
  width: 200px;
  height: 200px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cuadrado-2 {
  width: 200px;
  height: 200px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  cursor: pointer;
}

.cuadrado-3 {
  width: 200px;
  height: 200px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  cursor: pointer;
}
